.home-container {
    width: 40%;
    margin: 5em auto;
    padding: 1.5em;
    text-align: center;
    border-radius: 10px;
}

.home-container h1,
.home-container p {
    margin-bottom: 1.2em;
    color: #918686;
}

.home-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    font-size: 1rem;
}

.success {
    background-color: #D1FAE5;
    color: #065F46;
}

.error {
    background-color: #FEE2E2;
    color: #991B1B;
}