.home-container {
    width: 70%;
    margin: 8em auto;
    padding: 1.5em;
    text-align: center;
    border-radius: 10px;
}

.home-container h1,
.home-container p {
    margin: 1em 0;
    color: #161d27;
}

.home-container p{
    font-weight: 500;
}

.home-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home-form :first-child {
    width: 73%;
}

.home-form :nth-child(2) {
    width: 25%;
}

.message {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1rem;
    width: 27%;
}

.success {
    background-color: #D1FAE5;
    color: #065F46;
}

.error {
    background-color: #FEE2E2;
    color: #991B1B;
}